* {
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    height: 60px;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.amazon-logo{
    background-image: url(amazon\ logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    align-items: center;
    margin: 1px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.75px solid white;
}
.adress{
    margin: 5px 2px 5px 0px;
}
.add-first{
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 10px;
}
.add-second{
    color: #FFFFFF;
    font-size: 1rem;
    display: flex;
}
.nav-search{
    display: flex;
    width: 550px;
    height: 60px;
    
    align-items: center;
}
.nav-search:hover{
    border: 1.75px solid #febd68;
}
.search-icon{
    display: flex;
    width: 45px;
    height: 40px;
    background-color: #febd68;
   color: black;
   justify-content: center;
   align-items: center;
   font-size: 1.25rem;
}
.search-opt
{
    width: 60px;
    height: 41px;
    background-color:aliceblue;
}
.search-box{
    height: 38px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
}
.nav-acc{
    margin-top: 10px;
    height: 50px;
    width: 150px;
    justify-content: center;
}
.nav-first{
    font-size: 0.75rem;
    font-weight: 700;
    color: white;
}
.nav-second{
    font-size: 1rem;
    font-weight: 700;
    background-color: #0F1111;
    color: white;
    border-color: #0F1111;
}
.nav-cart{
    color: white;
}
.nav-cart i{
    font-size: 35px;
}
.panel{
    color: white;
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel-opt p{
    display: inline;
    margin: 3px;
}
.panel-opt{
    width: 95%;
    font-size: 0.9rem;
    justify-content: space-evenly;
}
.background-section{
    background-image: url(background.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.amazon-link{
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.90rem;
    background-color: #F5F6F6;
    height: 40px;
    width: 90%;
    margin-bottom: 2%;
}
.shopping-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    width: 23%;
    margin: 10px;
    height: 400px;
    background-color: white;
    padding: 20px 0px 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
footer{
    margin-top: 20px;
}
.foot1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #37475a;
    height: 50px;
}
.foot2{
    background-color: #222f3d;
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.foot2 a{
    color: #dddddd;
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
}
ul{
    margin-top: 20px;
}
.foot3{
    border-top: 0.5px solid #dddddd;
    height: 70px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon\ logo.png);
    background-size: cover;
    width: 120px;
    height: 50px;
}
.foot4{
    background-color: #131A22;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}